$midnight: #2c3e50;
$clouds: #ecf0f1;

.item-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display: flex;
  .col {
    flex: 1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
  color: black;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #f8f8f8;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: #f8f8f8;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background: white;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #f8f8f8;
    cursor: pointer;
    &:hover {
      background: #f8f8f8;
    }
  }
}

// :checked
.item-checkbox:checked {
  + .tab-label {
    background: #f8f8f8;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    display: flex;
    max-height: 100vh;
    max-width: 100%;
    overflow-x: scroll;
    padding: 1em;
    background-color: #f8f8f8;
  }
}

// --------------------------------

.item-radio-label {
  // position: absolute;
  // left: 20px;
  margin-left: 6px;
  font-weight: bold;
  color: #242424;
  // background-color: red;
}

.feedbackButtons {
  display: flex;
}

.radio-label {
  display: block;
  width: 60px;
  cursor: pointer;
  overflow: scroll;
  margin-left: 10px;
}

.radio-image {
  display: none;
  min-width: 50px;
  max-width: 50px;
  height: auto;
}

.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-input + .radio-image.not-selected {
  display: block;
}

.radio-input:checked ~ .radio-image.selected {
  display: block;
  position: relative;
}

.radio-input:checked ~ .radio-image.not-selected {
  display: none;
}

.radio-input:checked:focus-visible ~ .radio-image.selected {
  outline: #005fcc auto 1px;
}

.selected-image {
  position: relative;
}
.selected-icon {
  position: absolute;
  top: -2px;
  right: 2.3px;
}

.selected-name {
  color: gray;
  font-weight: normal;
}